.canvas{
   display: block;
            background-color: #161b22;
               box-shadow: 0 10px 25px rgba(0, 255, 255, 0.2), 0 0 10px rgba(0, 255, 255, 0.5); /* Neon glow effect */
            border-radius: 1rem;
            overflow: hidden;
            border: 4px solid #00f0ff
}
.score-box {
            background: linear-gradient(135deg, #00f0ff, #ff34ad); /* Gradient background */
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 2rem;
            font-weight: 700;
            text-shadow: 0 0 8px rgba(0, 255, 255, 0.4);
        }
        .text-center{
            background-color: #ff34ad;
            padding: 20px ;
        }